<div class="shadow-lg w-full sticky top-0" style="z-index:99999;">
<nav class="flex flex-1 relative items-center gap-10 p-5 bg-white border-gray-200 xl:w-[1260px] xl:mx-auto 2xl:w-[1516px] 2xl:mx-auto max-lg:w-full">
    <div class="flex items-center max-lg:justify-end lg:justify-between max-lg:flex-wrap  mx-auto w-full">
        
        <div class="flex flex-1 items-center">
            <p class="text-gray-600 text-lg font-bold">Giriraj Soni</h1>
        </div>
        
        <div class="hidden w-full lg:block lg:w-auto lg:px-0 bg-white max-lg:absolute max-lg:top-[5rem] max-lg:left-[0] max-lg:z-10"  id="navbar-default">
            <ul class="flex flex-col font-medium gap-2 items-center justify-evenly lg:border-0 lg:flex-row lg:mt-0 lg:p-0 lg:space-x-3 mt-4 p-4 rounded-lg">
                <li>
                    <a
                        href="/"
                        class="block py-4 pl-3 pr-4 text-black rounded" aria-current="page">Home
                    </a>
                </li>
                <li>
                    <a
                        href="/about/"
                        class="block py-2 pl-3 pr-4 text-black rounded">About</a>
                </li>
                <li>
                    <a
                        href="/techstack/"
                        class="block py-2 pl-3 pr-4 text-black rounded">Tech Stack</a>
                </li>
                <li>
                    <a  href="/experience/" title="" class="text-base text-black" data-dropdown-toggle="dropdown">Experience</a>  
                </li>
                <li>
                    <a
                        href="/projects/"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded">Projects</a>
                </li>
                <li>
                    <a
                        href="/contact/"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
</div>